.gradle
build/
out/
!gradle/wrapper/gradle-wrapper.jar
.yggdrash/
tmp/
logs/
*.log

.coveralls.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Core Contract ###
yggdrash-core/src/main/resources/system-contracts
