<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="LOG_DIR" value="logs"/>
    <property name="LOG_PATH_NAME" value="${LOG_DIR}/yggdrash.log"/>

    <!-- Console Appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Ref. https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-logging.html -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %-20(%clr(\(%line\)){yellow}) %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}
            </pattern>
        </layout>
    </appender>

    <!-- FILE Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH_NAME}</file>
        <!-- Apply log files by date -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH_NAME}.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm} [%-5p] [%F]%M\(%L\) : %m%n</pattern>
        </encoder>
    </appender>

     <!--ES Appender -->
    <springProperty scope="context" name="esHost" source="es.host" defaultValue=""/>
    <springProperty scope="context" name="esPrefixIndex" source="es.prefix.index" defaultValue="yggdrash"/>
    <appender name="ES" class="com.internetitem.logback.elasticsearch.ElasticsearchAppender">
        <url>http://${esHost}/_bulk</url>
        <index>${esPrefixIndex}-%date{yyyy-MM-dd}</index>
        <type>${esPrefixIndex}</type>
        <loggerName>es-logger</loggerName> <!-- optional -->
        <errorLoggerName>es-error-logger</errorLoggerName> <!-- optional -->
        <connectTimeout>30000</connectTimeout> <!-- optional (in ms, default 30000) -->
        <errorsToStderr>false</errorsToStderr> <!-- optional (default false) -->
        <includeCallerData>false</includeCallerData> <!-- optional (default false) -->
        <logsToStderr>false</logsToStderr> <!-- optional (default false) -->
        <maxQueueSize>104857600</maxQueueSize> <!-- optional (default 104857600) -->
        <maxRetries>1</maxRetries> <!-- optional (default 3) -->
        <readTimeout>30000</readTimeout> <!-- optional (in ms, default 30000) -->
        <sleepTime>250</sleepTime> <!-- optional (in ms, default 250) -->
        <rawJsonMessage>false</rawJsonMessage> <!-- optional (default false) -->
        <includeMdc>false</includeMdc> <!-- optional (default false) -->
        <maxMessageSize>1000</maxMessageSize> <!-- optional (default -1 -->
        <properties>
            <property>
                <name>host</name>
                <value>${HOSTNAME}</value>
                <allowEmpty>false</allowEmpty>
            </property>
            <property>
                <name>level</name>
                <value>%level</value>
            </property>
            <property>
                <name>thread</name>
                <value>%thread</value>
            </property>
            <property>
                <name>stacktrace</name>
                <value>%ex</value>
            </property>
            <property>
                <name>logger</name>
                <value>%logger</value>
            </property>
            <property>
                <name>method</name>
                <value>%method</value>
            </property>
            <property>
                <name>line</name>
                <value>%line</value>
            </property>
            <property>
                <name>caller</name>
                <value>%caller{1..3}</value>
            </property>
        </properties>
        <headers>
            <header>
                <name>Content-Type</name>
                <value>application/json</value>
            </header>
        </headers>
    </appender>

    <if condition='!property("esHost").equals("")'>
        <then>
            <logger name="es-logger" level="WARN"/>
        </then>
    </if>

    <!-- TRACE > DEBUG > INFO > WARN > ERROR -->
    <springProfile name="debug">
        <logger name="io.yggdrash" level="TRACE"/>
        <root level="DEBUG">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>
    <springProfile name="local">
        <logger name="io.yggdrash" level="TRACE"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.ehcache.core" level="WARN"/>
        <logger name="org.xnio" level="WARN"/>
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="FILE"/>
            <if condition='!property("esHost").equals("")'>
                <then>
                    <appender-ref ref="ES"/>
                </then>
            </if>
        </root>
    </springProfile>
</configuration>
